.btn {
    border: 2px solid blue;
    text-decoration: none;
    margin: 1rem;
    padding: 3px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.btn:hover{
    background-color: blueviolet;
    border: 2px solid blueviolet;
}

li {
    list-style: none;
}